posts {
    background: #f3f4f6;
    grid-area: posts;
    overflow-y: auto;
}

.posts__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  }
  

  .card_inner {
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
 
  .card_category {
    border: 1px solid #3a3e41;
    background: #3a3e41;
    position:relative;
    border-radius: 5px;
    color: #ffffff;
    
  }


  .card_inner > h1 {
    font-size: 20px;
  }
  
  .card_inner > p {
    font-size: 15px;
    color: black;
  }
  
  .card1 {
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;

  }
  
  .card2 {
    background: #d2f9ee;
    color: #38e1b0;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .card3 {
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .card4 {
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
  }
 
  
  @media only screen and (max-width: 855px) {
    .posts__cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  }  